<div class="card" style="width: 50rem;">
    <div class="card-body card-content">
        <img src="../assets/images/image.png" class="card-img" alt="pressure">
        <div>
            <div class="card-content">
                <h4 class="card-title">PRODUCT NAME</h4>
                <h5>EMAIL <fa-icon [icon] = "email" class="red"></fa-icon></h5> 
            </div>
            <div class="card-content">
                <div>
                    <p><b>Part Number:</b> {{data.partNumber}}</p>
                    <p><b>Series:</b> {{data.series}}</p>
                    <p><b>Dual Size:</b> {{data.dualSize}}</p>
                    <p><b>Pressure Range:</b> {{data.pressureRange}}</p>
                    <p><b>Connections:</b> {{data.connections}}</p>
                </div>
                <div>
                    <p><b>Connection Location:</b> {{data.connectionLoc}}</p>
                    <p><b>Accuracy:</b> {{data.accuracy}}</p>
                    <p><b>Case Material:</b> {{data.caseMaterial}}</p>
                    <p><b>Weighting Parts:</b> {{data.weightingParts}}</p>
                    <p><b>Fill:</b> {{data.fill}}</p>
                </div>
            </div>
        </div>  
    </div>
  </div>
